@model ProfileProject.Models.User

@{
    ViewData["Title"] = "Kayıt Ol";
}

<h2>@ViewData["Title"]</h2>

<form class="form-signin" asp-controller="Register" asp-action="Index" method="post">
    <h1 class="h3 mb-3 font-weight-normal login">Kullanıcı Kaydı</h1>

    <!-- Kullanıcı Adı -->
    <label for="Username" class="sr-only login">Kullanıcı Adı *</label>
    <input type="text" id="Username" class="form-control" name="Username" required="" placeholder="Kullanıcı Adı" autofocus="">

    <!-- Ad Soyad -->
    <label for="NameSurname" class="sr-only login">Ad Soyad *</label>
    <input type="text" id="NameSurname" class="form-control" name="NameSurname" required="" placeholder="Ad Soyad">

    <!-- E-posta -->
    <label for="Email" class="sr-only login">E-Posta *</label>
    <input type="email" id="Email" class="form-control" name="Email" required="" placeholder="E-posta">

    <!-- Telefon 1 -->
    <label for="MobilePhone1" class="sr-only login">Telefon-1</label>
    <input type="text" id="MobilePhone1" class="form-control" name="MobilePhone1" placeholder="Telefon-1">

    <!-- Telefon 2 -->
    <label for="MobilePhone2" class="sr-only login">Telefon-2</label>
    <input type="text" id="MobilePhone2" class="form-control" name="MobilePhone2" placeholder="Telefon-2">

    <!-- Şifre -->
    <label for="Password" class="sr-only login">Şifre *</label>
    <input type="password" id="Password" name="Password" class="form-control" placeholder="Şifre" required="">

    <!-- Şifre Tekrarı -->
    <label for="ConfirmPassword" class="sr-only login">Şifre Doğrulama *</label>
    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Şifre Tekrarı" required="">

    <!-- Doğum Tarihi -->
    <label for="Birthday" class="sr-only login">Doğum Tarihi *</label>
    <input type="date" id="Birthday" name="Birthday" class="form-control" required="">

    <div style="text-align: center; margin-top:10px;">
        <button class="buton" type="submit">Kayıt Ol</button>
    </div>
</form>