@{
    ViewData["Title"] = "Admin Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="container">
    <div class="card">
        <div class="col-lg-4">
            <ul>
                <br />
                <li>
                    <a class="nav-link text" asp-controller="Admin" asp-action="UserList">Kullanıcı Listesi</a>
                </li>
                <br />
                <li>
                    <a class="nav-link text" asp-controller="Admin" asp-action="UserCreate">Kullanıcı Oluştur</a>
                </li>
                <br />
                <li>
                    <a class="nav-link text"  asp-controller="Dashboard" asp-action="Index">Kullanıcıları İstatistikleri</a>
                </li>
            </ul>
        </div>
    </div>
</div>