@{
    var user = ViewData["User"];
    ViewBag.Title = "Profile Project";
    ViewBag.BreadcrumbItemActive = user;
    ViewBag.BreadcrumbItemToAdmin = "Admin Panel";
}
@Html.Partial("~/Views/Shared/_breadcrumb.cshtml")

<div class="container">
    <div class="card">
    </div>
</div>