@{
    var index = 0;
    ViewBag.Title = "Profile Project";
    ViewBag.BreadcrumbItemActive = "Kullanıcı Düzenle";
    ViewBag.BreadcrumbItemToAdmin = "Admin Panel";
}
@Html.Partial("~/Views/Shared/_breadcrumb.cshtml")

<div class="container">
    <div class="card">
    </div>
</div>