@model ProfileProject.Models.User

@{
    ViewData["Title"] = "Giriş Yap";
}

<h2>@ViewData["Title"]</h2>

<form id="changePasswordForm" asp-controller="Profile" asp-action="ChangePassword" method="post">
    <!-- Eski Parola -->
    <div class="mb-3">
        <label for="OldPassword" class="form-label">Eski Parola</label>
        <input type="password"
               id="OldPassword"
               class="form-control"
               name="OldPassword"
               required
               placeholder="Eski Parola" />
    </div>

    <!-- Yeni Parola -->
    <div class="mb-3">
        <label for="Password" class="form-label">Yeni Parola</label>
        <input type="password"
               id="Password"
               name="Password"
               class="form-control"
               placeholder="Yeni Parola"
               required />
    </div>

    <!-- Yeni Parola (Tekrar) -->
    <div class="mb-3">
        <label for="ConfirmPassword" class="form-label">Yeni Parola (Tekrar)</label>
        <input type="password"
               id="ConfirmPassword"
               name="ConfirmPassword"
               class="form-control"
               placeholder="Yeni Parola Tekrarı"
               required />
    </div>

    <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </div>
</form>
