@model User

@inject IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;

    var id = session?.GetInt32("UserId");

    ViewBag.Title = "Profile Project";
    ViewBag.BreadcrumbItemActive = Model.NameSurname;
}
@Html.Partial("~/Views/Shared/_breadcrumb.cshtml")

<h2>@Model.Job</h2>