@model DataModels.HomeModels

@{
    ViewBag.Title = "Profile Project";
}
@Html.Partial("~/Views/Shared/_breadcrumb.cshtml")

<div class="container">
    <div class="card-body">
        <h2>En Çok Ziyaret Edilen Profiller</h2>
        <div class="card">
            <div class="row">
                @foreach (var item in Model.mostVisitedUsers)
                {
                    <div class="col-lg-3">
                        @item.NameSurname
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-body">
        <h2>En Az Ziyaret Edilen Profiller</h2>
        <div class="card">
            <div class="row">

                @foreach (var item in Model.leastVisitedUsers)
                {
                    <div class="col-lg-3">
                        @item.NameSurname
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-body">
        <h2>Rastgele Profiller</h2>
        <div class="card">
            <div class="row">

                @foreach (var item in Model.randomlyUsers)
                {
                    <div class="col-lg-3">
                        @item.NameSurname
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts {
    <!-- [Page Specific JS] start -->
    <script src="/assets/js/plugins/apexcharts.min.js"></script>
    <script src="~/js/utils.js"></script>

    <script src="/assets/js/pages/dashboard-default.js"></script>
}