@model DataModels.LoginModel

@if (ViewBag.Message != null)
{
    <h1>@ViewBag.Message</h1>
}

@{
    ViewBag.Title = "Giriş Ekranı";
}

<div>
    <h2>@ViewData["Title"]</h2>

    <form class="form-signin" asp-controller="Login" asp-action="Index" method="post">
        <div class="row">
            <!-- Kullanıcı Adı -->
            <div class="col-lg-3">
                <label asp-for="Username" class="sr-only login"></label>
                <input asp-for="Username" class="form-control" autofocus="">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <!-- Şifre -->
            <div class="col-lg-3">
                <label asp-for="Password" class="sr-only login"></label>
                <input asp-for="Password" class="form-control" type="password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-lg-2" style="text-align: center; align-content:center; margin-top:20px;">
                <button class="btn btn-primary" type="submit">Giriş Yap</button>
            </div>
        </div>

    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
