<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col my-1">
                <p class="m-0"><a href="https://chareless.github.io/saribayirdeniz/" target="_blank">Deniz Sarýbayýr &#9829; crafted by CHARELESS</a></p>
            </div>
            <div class="col-auto my-1">
                <ul class="list-inline footer-link mb-0">
                    <li class="list-inline-item"><a href="@Url.Action("Index", "Home")">Ana Sayfa</a></li>
                    <li class="list-inline-item"><a href="mailto:deniz0311@hotmail.com?">Ýletiþim</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>