@Html.Partial("./_config.cshtml")
<title>@ViewBag.Title | Index Grup Yönetim Paneli</title>
<!-- [Meta] -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="description"
      content="Index Grup Yönetim Paneli, yýllara göre istenilen istatistik tablolarýný ve detaylý verileri içeren bir Admin Dashboard'dýr." />
<meta
  name="keywords"
      content="Index Grup, Dashboard, Yönetim Paneli" />
<meta name="author" content="Phoenixcoded" />

<!-- [Favicon] icon -->
<link rel="icon" href="/assets/images/favicon-32x32.png" type="image/x-icon" />