@Html.Partial("./_config.cshtml")
@{
    var title = "Profile Project";
    if (!string.IsNullOrEmpty(ViewBag.BreadcrumbItemActive as string))
    {
        title += " | " + ViewBag.BreadcrumbItemActive;
    }
}
<title>@title</title>

<!-- [Meta] -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="description"
      content="Profile Project, Kullanýcýlarýn kendi kiþisel sitelerini oluþturduðu bir ASP.NET MVC projesidir. Henüz yapým aþamasýndadýr. Kayýt olduktan sonra sitede kayýtlý kullanýcýlarýn
                profillerini inceleyebilirsiniz. Proje, eðitim, sertifika vb. bilgilerinizi eklediðiniz online CV web sitesidir." />
<meta
  name="keywords"
      content="Profile Project, Deniz Sarýbayýr" />
<meta name="author" content="Phoenixcoded" />

<!-- [Favicon] icon -->
<link rel="icon" href="/favicon.ico" type="image/x-icon" />